body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
	line-height:160%;
  background-color: #f9f9f9;
}

.container {
    background: #ffffff;
    padding: 30px;
		max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

a {
	color: #333333;
	text-decoration: underline;
}

form {
}

.title {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #1c222b;
	text-indent: 0;
	font-weight:bold;

}


div.blank{
	text-align:center;
	overflow:visible;
	padding-top:50px;
}
p.title-blank {
	font-weight:bold;

	line-height:100%;
	overflow:visible;
	font-size:48px;
	color:#BC4095;
	text-align:center;
}

img.image-blank {
	text-align:center;
	float:none;
	margin:0 auto;

}
